* {

}

.header {
    background-color: #1f2937;
}

.body-1 {
    background-color: #1f2937;
}

.body-2 {}

.body-3 {
    background-color: #e5e7eb;
}

.body-4 {}

.footer {
    background-color: #1f2937;
}
